.team {
    background-color: #F5F4FA;
    margin-bottom: 0;
}

.team-list {
    display: flex;
}

.team-list__item + .team-list__item {
    margin-left: 30px;
}

.info {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    text-align: center;
}

.info__title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.info__text {
    font-size: 16px;
    line-height: 1.19;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.social-links__item + .social-links__item {
    margin-left: 10px;
}

.social-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--primary-white-color);
    }
}

.social-links__icon {
    fill: inherit;
    width: 20px;
    height: 20px;
}