.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 8px;
    top: 8px;

    min-width: 30px;
    min-height: 30px;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.modal__icon {
    width: 11px;
    height: 11px;
    fill: inherit;
}

.modal__text {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--title-text-color);
}

.modal-form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &:nth-child(4) {
        margin-bottom: 20px;
    }
}

.modal-form__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.modal-form__input {
    &:nth-child(2) {
        width: 100%;
        height: 40px;
        padding-left: 40px;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-form__input:focus~& {
        fill: var(--accent-color);
    }
}

.modal-form__textarea {
    resize: none;

    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
        font-size: 12px;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.form-policy {
    position: relative;

    margin-left: 12px;
    margin-bottom: 30px;
}

.form-policy__label {
    display: inline-block;
    padding-left: 24px;
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.form-policy__link {
    color: var(--accent-color);
}

.form-policy__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-policy__checkbox {
    position: absolute;
    top: 4px;
    left: 0;

    overflow: hidden;

    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    .form-policy__input:checked~& {
        background-color: var(--accent-color);
        border: 2px solid var(--accent-color);
    }
}

.icon-check {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 11px;
    height: 8px;
}

.modal-form__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

