.section {
    padding-top: 60px;
    padding-bottom: 60px;
    &:nth-child(3) {
        padding-top: 0;
        display: none;
        @media screen and (min-width:1200px) {
            display: block;
        }
    }

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    text-align: center;

    @media screen and (min-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}